{% extends 'base.html' %}

{% load static %}

{% block title %}timeline{% endblock %}

{% block h1 %}タイムライン{% endblock %}

{% block body %}

<table border="1" cellpadding="30">
<tr>
    <td>上が最新情報です</td>
    <td><a href= "../">トップページに戻る</a></td>
</tr>
</table>


<p style="text-align:center"><font size="5" color="orange">ここからが書き込み内容です。</font></p>

{% for i in data%}

    {{message}}
    {{i.name}}
    {{i.email}}
    {{i.comment}}
    

{% endfor %}

<p style="text-align:center"><font size="5" color="orange">ここまでが書き込み内容です。</font></p>
{% endblock %}